<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <h1>
        Late Invoices
    </h1>

    <ul>
        <% for(let p of InvoiceLate) { %>
            <li>
                <a href="/products/<%=p.id%>">
                    <%= p.to %>
                </a>
            </li>
            <%} %>
    </ul>




    <div style="margin-top:5px">
        <form action="/late/mail" method="GET">
            <button class="btn-success btn-lg"> Mail Late Invoices </button>
        </form>


</body>

</html>